@{
    ViewBag.Title = "Customer screen";
}
<script src="~/Scripts/CustomerJS.js"></script>

<div id="e4Customer">
    <p>

        <input type="button" data-bind="click: ToggleAddFormVisibility" value="Open/Close Add Form">

        <div data-bind="visible:$root.ShowAddForm()">
            <div> <label> Name </label> </div>
            <div> <input type="text" data-bind="value:$root.Name" >  </div>
            <div><label> Surname </label> </div>
            <div> <input type="text" data-bind="value:$root.Surname">  </div>
            <div><label> Cellphone </label> </div>
            <div> <input type="text" data-bind="value:$root.Cellphone">  </div>

            <div> <input type="submit" value="Submit" data-bind="click: function(){ $root.Save_Customer();  }"> </div>
        </div>
    </p>

<table class="table">
    <tr>
        <th> Name  </th>
        <th> Surname  </th>
        <th> Cellphone  </th>
        <th> Action  </th>
    </tr>


    <tbody data-bind="foreach: $root.CustomerList">

        <tr>
            <td data-bind="text:Name"> </td>
            <td data-bind="text:Surname"> </td>
            <td data-bind="text:Cellphone"> </td>
            <td>

                <button data-bind="click: function(){ $root.Delete_Customer($data);  }">Delete </button>
                <button data-bind="click: function(){  $root.Edit_Customer($data); }">Edit </button>

            </td>
        </tr>

    </tbody>

    <tr data-bind="if:$root.EditCustomer()">

        <td>   <input type="text" data-bind="value:$root.EditCustomer().Name" class="input_element" />  </td>

        <td>
            <input type="text" data-bind="value:$root.EditCustomer().Surname" class="input_element" />
        </td>

        <td>
            <input type="text" data-bind="value:$root.EditCustomer().Cellphone" class="input_element" />
        </td>

        <td>

            <input type="button" data-bind="click:function(){ $root.Update_Customer($data); }" value="Save">
            <input type="button" data-bind="click:function(){ $root.Cancel_Edit_Customer(); }" value="Cancell">

        </td>

    </tr>

</table>

</div>


<script type="text/javascript">


    document.addEventListener("DOMContentLoaded", function (event) {
        var customerModel = new CustomerModel();
        customerModel.LoadCustomers();

        var node = $('#e4Customer')[0];
        ko.applyBindings(customerModel, node); 
    });

  


</script>
 